<header>
    <a href="/" class="logo">Booklink <span>&dot;</span></a>
    <nav>
        <a href="/#inicio">Inicio</a>
        <a href="/comprar">Comprar</a>
        <a href="/vender">Vender</a>
        <a href="/#reseñas">Reseñas</a>
        <a href="/#Nosotros">Sobre Nosotros</a>
    </nav>
    <div class="iconos">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-shopping-cart"></a>
        <a href="login-signup.html" class="fas fa-user"></a>
    </div>
</header>